#btn-login {
    background-color: #002742;
    color: #FFFFFF;
    font-weight: 400;
    border-radius: 25px;
  }

.modal-header {
    background-color: #343a40;
}

.close {
    color: #fcc41f; 
    opacity: 1;
    text-align: center;
}

.modal-90w {
    min-width: 98%;
}

.modal-body-spacing {
    padding: 2;
}