@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body {
  background: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.md-light{
  color: rgba(255, 255, 255, 1)
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;     
}

.welcome-card {
  font-family: 'Krona One', sans-serif;
  color: white;
  font-size: 2em;
  border-radius: 0 25px 25px 0;
  opacity: 0.9;
  height: 40vh;
  position: absolute;
  right: 60%;
  top: 30%;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.login-button {
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  border: none;
  border-radius: 15px;
  font-size: 0.7em;
  margin: 0 auto;
  width: 6em;
}

.title-card {
  font-family: 'Krona One', sans-serif;
  color: white;
  font-size: 4.7em;
  border-radius: 25px 0 0 25px;
  opacity: .9;
  height: 60vh;
  position: absolute;
  left: 50%;
  top: 20%;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

@keyframes move_wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}
.waveWrapper {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 58px 0 0 0;

}
.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 120px;
}
.waveAnimation .waveTop {
animation: move-wave 3s;
 -webkit-animation: move-wave 3s;
 -webkit-animation-delay: 1s;
 animation-delay: 1s;
}
.waveMiddle {
  background-size: 50% 130px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
}
.waveBottom {
  background-size: 50% 110px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
}